<div class="box-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <nb-card>
                <nb-card-header class="amplus-header mat-autocomplete-panel">
                    <div class="row">
                        <div class="back-link px-2">
                            <a (click)="previousPage()" aria-label="Back">
                                <nb-icon icon="arrow-back" title="Voltar"></nb-icon>
                            </a>
                        </div>
                        <div class="title">
                            Auto de Infração de Trânsito
                        </div>
                    </div>
                </nb-card-header>
                <div class="dialog-body">
                    <form id="form-auto-infracao" [formGroup]="formAutoInfracao">
                        <div class="col-md-12 col-xs-12">
                            <div class="details">
                                <div class="title h6 modal-header">Dados do Veículo</div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="inputplaca">Placa</label>
                                        <input class="form-control" name="placa" id="placa" type="text"
                                            [attr.disabled]="!formAutoInfracao.value.placa"
                                            [formControl]="formAutoInfracao.controls.placa" formControlName="placa" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputnomemarcaVeiculo">Marca</label>
                                        <input class="form-control" name="marcaVeiculo" id="marcaVeiculo" type="text"
                                            style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.marcaVeiculo"
                                            [formControl]="formAutoInfracao.controls.marcaVeiculo"
                                            formControlName="marcaVeiculo" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputnomemodeloVeiculo">Modelo</label>
                                        <input class="form-control" name="modeloVeiculo" id="modeloVeiculo" type="text"
                                            style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.modeloVeiculo"
                                            [formControl]="formAutoInfracao.controls.modeloVeiculo"
                                            formControlName="modeloVeiculo" />
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="exampleInputespecie">Espécie</label>
                                        <input class="form-control" name="especie" id="especie" type="text"
                                            style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.especie"
                                            [formControl]="formAutoInfracao.controls.especie" formControlName="especie"
                                            maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="inputcategoria">Categoria</label>
                                        <input class="form-control" name="categoria" id="categoria" type="text"
                                            [formControl]="formAutoInfracao.controls.categoria"
                                            [attr.disabled]="!formAutoInfracao.value.categoria"
                                            formControlName="categoria" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputestadoVeiculo">Estado</label>
                                        <input class="form-control" name="estadoVeiculo" id="estadoVeiculo" type="text"
                                            [formControl]="formAutoInfracao.controls.estadoVeiculo"
                                            [attr.disabled]="!formAutoInfracao.value.estadoVeiculo"
                                            formControlName="estadoVeiculo" />
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="form-group">
                                        <label for="inputcidadeVeiculo">Município</label>
                                        <input class="form-control" name="cidadeVeiculo" id="cidadeVeiculo" type="text"
                                            [formControl]="formAutoInfracao.controls.cidadeVeiculo"
                                            [attr.disabled]="!formAutoInfracao.value.cidadeVeiculo"
                                            formControlName="cidadeVeiculo" />
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="inputpaisVeiculo">País</label>
                                        <input class="form-control" name="paisVeiculo" id="paisVeiculo" type="text"
                                            [formControl]="formAutoInfracao.controls.paisVeiculo"
                                            [attr.disabled]="!formAutoInfracao.value.paisVeiculo"
                                            formControlName="paisVeiculo" />
                                    </div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="title h6 modal-header mt-lg-n4">Dados do Condutor</div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="form-group col-md-5">
                                    <div class="form-group">
                                        <label for="inputnome">Nome</label>
                                        <input class="form-control" name="nome" id="nome" type="text"
                                            style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.nome"
                                            [formControl]="formAutoInfracao.controls.nome" formControlName="nome"
                                            maxlength="20" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputcpf">CPF</label>
                                        <input class="form-control" name="cpf" id="cpf" type="text"
                                            [attr.disabled]="!formAutoInfracao.value.cpf"
                                            [formControl]="formAutoInfracao.controls.cpf" formControlName="cpf" />
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="inputnumeroCNH">Número CNH</label>
                                        <input class="form-control" name="numeroCNH" id="numeroCNH" type="text"
                                            [formControl]="formAutoInfracao.controls.numeroCNH"
                                            [attr.disabled]="!formAutoInfracao.value.numeroCNH"
                                            formControlName="numeroCNH" />
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="inputestadoCondutor">Estado</label>
                                        <input class="form-control" name="estadoCondutor" id="estadoCondutor"
                                            type="text" [formControl]="formAutoInfracao.controls.estadoCondutor"
                                            [attr.disabled]="!formAutoInfracao.value.estadoCondutor"
                                            formControlName="estadoCondutor" />
                                    </div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="title h6 modal-header mt-lg-n4">Local da Infração</div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="form-group col-md-5">
                                    <div class="form-group">
                                        <label for="inputlogradouro">Rua</label>
                                        <input class="form-control" name="logradouro" id="logradouro" type="text"
                                            style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.logradouro"
                                            [formControl]="formAutoInfracao.controls.logradouro"
                                            formControlName="logradouro" maxlength="20" />
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="inputnumero">Número</label>
                                        <input class="form-control" name="numero" id="numero" type="text"
                                            [attr.disabled]="!formAutoInfracao.value.numero"
                                            [formControl]="formAutoInfracao.controls.numero" formControlName="numero"
                                            (keypress)="numberOnly($event)" maxlength="10" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputbairro">Bairro</label>
                                        <input class="form-control" name="bairro" id="bairro" type="text"
                                            style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.bairro"
                                            [formControl]="formAutoInfracao.controls.bairro" formControlName="bairro"
                                            maxlength="20" />
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="inputcomplemento">Complemento</label>
                                        <input class="form-control" name="complemento" id="complemento" type="text"
                                            style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.complemento"
                                            [formControl]="formAutoInfracao.controls.complemento"
                                            formControlName="complemento" maxlength="20" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="inputestadoInfracao">Estado</label>
                                        <input class="form-control" name="estadoInfracao" id="estadoInfracao"
                                            type="text" [attr.disabled]="!formAutoInfracao.value.estadoInfracao"
                                            [formControl]="formAutoInfracao.controls.estadoInfracao"
                                            formControlName="estadoInfracao" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputcidadeInfracao">Município</label>
                                        <input class="form-control" name="cidadeInfracao" id="cidadeInfracao"
                                            type="text" [attr.disabled]="!formAutoInfracao.value.cidadeInfracao"
                                            [formControl]="formAutoInfracao.controls.cidadeInfracao"
                                            formControlName="cidadeInfracao" />
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <label for="inputcodigoInfracao">Código Infração</label>
                                        <input class="form-control mat-subheading-2" name="codigoInfracao"
                                            id="codigoInfracao" type="texto"
                                            [attr.disabled]="!formAutoInfracao.value.codigoInfracao"
                                            [formControl]="formAutoInfracao.controls.codigoInfracao"
                                            formControlName="codigoInfracao" />
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="exampledataHora">Data/Hora</label>
                                            <input class="form-control mat-subheading-2" name="dataHora" id="dataHora"
                                                type="texto" [attr.disabled]="!formAutoInfracao.value.dataHora"
                                                [formControl]="formAutoInfracao.controls.dataHora"
                                                formControlName="dataHora" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="exampleidentificadorAutuacao">Identificador Autuação</label>
                                            <input class="form-control" name="identificadorAutuacao" id="identificadorAutuacao"
                                                type="texto" [attr.disabled]="!formAutoInfracao.value.identificadorAutuacao"
                                                [formControl]="formAutoInfracao.controls.identificadorAutuacao"
                                                formControlName="identificadorAutuacao" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="comment">Descrição da Infração</label>
                                            <textarea class="form-control" rows="1"
                                                [formControl]="formAutoInfracao.controls.descricao"
                                                [attr.disabled]="!formAutoInfracao.value.descricao"
                                                formControlName="descricao" id="descricao" maxlength="300"></textarea>
                                            <p class="text-muted"><small><span name="txtArea">300</span></small>
                                                quantidade máxima de
                                                caracteres</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="title h6 modal-header mt-lg-n4">Instrumento/Equipamento</div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputinstrumentoApuracao">Equipamento</label>
                                        <input class="form-control" name="instrumentoApuracao" id="instrumentoApuracao"
                                            type="text" style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.instrumentoApuracao"
                                            [formControl]="formAutoInfracao.controls.instrumentoApuracao"
                                            formControlName="instrumentoApuracao" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputmedicaoRealizada">Medição Realizada</label>
                                        <input class="form-control" name="medicaoRealizada" id="medicaoRealizada"
                                            type="text" style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.medicaoRealizada"
                                            [formControl]="formAutoInfracao.controls.medicaoRealizada"
                                            formControlName="medicaoRealizada" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputlimiteRegulamentado">Limite Regulamentado</label>
                                        <input class="form-control" name="limiteRegulamentado" id="limiteRegulamentado"
                                            type="text" style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.limiteRegulamentado"
                                            [formControl]="formAutoInfracao.controls.limiteRegulamentado"
                                            formControlName="limiteRegulamentado" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputmedicaoConsiderada">Medição Considerada</label>
                                        <input class="form-control" name="medicaoConsiderada" id="medicaoConsiderada"
                                            type="text" style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.medicaoConsiderada"
                                            [formControl]="formAutoInfracao.controls.medicaoConsiderada"
                                            formControlName="medicaoConsiderada" />
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="comment">Observação</label>
                                            <textarea class="form-control" rows="3"
                                                [formControl]="formAutoInfracao.controls.observacao"
                                                [attr.disabled]="!formAutoInfracao.value.observacao"
                                                formControlName="observacao" id="observacao" maxlength="300"></textarea>
                                            <p class="text-muted"><small><span name="txtArea">300</span></small>
                                                quantidade máxima de
                                                caracteres</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="title h6 modal-header mt-lg-n4">Agente de Trânsito
                                    <div class="title h6 mx-sm-auto ml-xl-5 px-xl-4">Assinatura do Infrator Notificado
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputmatriculaAgente">Matricula do Agente de Trânsito</label>
                                        <input class="form-control" name="matriculaAgente" id="matriculaAgente"
                                            type="text" style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.matriculaAgente"
                                            [formControl]="formAutoInfracao.controls.matriculaAgente"
                                            formControlName="matriculaAgente" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputassinou">Assinou</label>
                                        <input class="form-control" name="assinou" id="assinou" type="text"
                                            style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.assinou"
                                            [formControl]="formAutoInfracao.controls.assinou"
                                            formControlName="assinou" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputnaoAbordado">Não Abordado</label>
                                        <input class="form-control" name="naoAbordado" id="naoAbordado" type="text"
                                            style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.naoAbordado"
                                            [formControl]="formAutoInfracao.controls.naoAbordado"
                                            formControlName="naoAbordado" />
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="inputrecusouAssinar">Recusou-se a Assinar</label>
                                        <input class="form-control" name="recusouAssinar" id="recusouAssinar"
                                            type="text" style="text-transform: uppercase;"
                                            [attr.disabled]="!formAutoInfracao.value.recusouAssinar"
                                            [formControl]="formAutoInfracao.controls.recusouAssinar"
                                            formControlName="recusouAssinar" />
                                    </div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="title h6 modal-header mt-lg-n4">Parecer da Atuação Título</div>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="form-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="optAprovado"
                                        [formControl]="formAutoInfracao.controls.descParecer"
                                            name="inlineDefaultRadios" value="APROVADO"/>
                                        <label class="custom-control-label" for="optAprovado">Aprovado</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="optRejeitado"
                                        [formControl]="formAutoInfracao.controls.descParecer"
                                            name="inlineDefaultRadios" value="REJEITADO"/>
                                        <label class="custom-control-label" for="optRejeitado">Rejeitado</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="descMotivo">Descrição</label>
                                        <textarea class="form-control" rows="3"
                                            [formControl]="formAutoInfracao.controls.descMotivo" formControlName="descMotivo"
                                            id="descMotivo" maxlength="300"></textarea>
                                        <p class="text-muted"><small><span name="txtArea">300</span></small>
                                            quantidade máxima de caracteres</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-3">
                            <div class="text-right navbar-collapse">
                                <button class="btn btn-success m-lg-3" (click)="salvaAutuacao(formAutoInfracao.value)">
                                    SALVAR
                                </button>
                                <button class="btn btn-primary" (click)="showPdf(formAutoInfracao.value)">
                                    VISUALIZAR ANEXO
                                  </button>
                            </div>
                        </div>
                    </form>
                </div>
            </nb-card>
        </div>
    </div>
</div>