<div class="box-content">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <nb-card>
        <nb-card-header class="amplus-header mat-autocomplete-panel">
          <div class="row">
            <div class="back-link px-2">
              <a (click)="previousPage()" aria-label="Back">
                <nb-icon icon="arrow-back" title="Voltar"></nb-icon>
              </a>
            </div>
            <div class="title">
              Cadastro de Cliente
            </div>
          </div>
        </nb-card-header>
        <div class="dialog-body p-3">
          <form id="form-lista-cliente" [formGroup]="formlistaCliente">
            <div class="col-md-12 col-xs-12">
              <div class="form-row align-items-center">
                <div class="form-group col-md-5">
                  <div class="form-group">
                    <label for="exampleInputnome">Nome</label>
                    <input class="form-control" name="nome" id="nome" type="text" style="text-transform: uppercase;"
                      [formControl]="formlistaCliente.controls.nome" formControlName="nome" maxlength="200" />
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <div class="form-group">
                    <label for="exampleInputCnpj">CNPJ</label>
                    <input class="form-control" name="cnpj" id="cnpj" type="text"
                      [formControl]="formlistaCliente.controls.cnpj" formControlName="cnpj" maxlength="18"  mask="00.000.000/0000-00"/>
                  </div>
                </div>
                <div class="text-right">
                  <button class="btn btn-primary mb-3 m-2" (click)="pesquisarcliente(formlistaCliente.value)">
                    PESQUISAR
                  </button>
                  <button class="btn btn-success mb-3 m-2" (click)="opencadastro()">
                    CADASTRAR
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </nb-card>
      <nb-card>
        <nb-card-body>
          <div class="app-box">
            <ngx-datatable #myTable class="bootstrap" name="tabelaFuncionario" [rows]="datatablePagination.rowData"
            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [rowHeight]="'auto'"
            [messages]="{emptyMessage: 'Sem dados...'}" [limit]="tableLimit" [externalPaging]="true"
            [count]="datatablePagination.totalElements" [offset]="datatablePagination.currentPage">

              <ngx-datatable-column [sortable]="false" name="Ações" [canAutoResize]="true">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <div class="datatable-body-box-actions">
                    <a class="home-icon" (click)="gotoEdit(row)" title="Editar">
                      <i class="fa fa-edit"></i>
                    </a>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Nome" prop="razaoSocial"></ngx-datatable-column>
              <ngx-datatable-column name="CNPJ" prop="cpfCnpj">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <div class="text-center">
                    {{ row.cpfCnpj }}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Data Vigência" prop="dtVigencia">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <div class="text-center">
                    {{ row.dtVigencia | date:'dd/MM/yyyy'}}
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow>

                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div style="padding-left:60px; font-size:14px">
                    <div>{{ row.pessoa.nome }}, {{ row.pessoa.cnpj }}</div>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>

              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                  <div>
                    <div class="page-count">
                      Total de Registros: {{rowCount}}
                    </div>
                  </div>

                  <datatable-pager [pagerLeftArrowIcon]="'fa fa-angle-double-left'"
                    [pagerRightArrowIcon]="'fa fa-angle-double-right '" [pagerPreviousIcon]="'fa fa-angle-left'"
                    [pagerNextIcon]="'fa fa-angle-right '" [page]="curPage" [size]="pageSize" [count]="rowCount"
                    [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="pesquisarcliente(formlistaCliente.value, $event.page-1)">
                  </datatable-pager>
                </ng-template>
              </ngx-datatable-footer>

            </ngx-datatable>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
